{% include "head.html" %}

<div class="container my-5 border border-5" >
   
    <table class="table table-light table-striped" >
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Father's Name</th>
            <th>Mother's Name</th>
            <th>Phone No.</th>
            <th>Fee</th>
            <th>Course</th>
            <th>Gender</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
        {% for a in namedata %}
            
          <tr>
            <th scope="row">{{a.id}}</th>
            <td>{{a.name}}</td>
            <td>{{a.fname}}</td>
            <td>{{a.mname}}</td>
            <td>{{a.phone_no}}</td>
            <td>{{a.fee}}</td>
            <td>{{a.course}}</td>
            <td>{{a.gender}}</td>
            <td>{{a.address}}</td>
            
          </tr>
          {% endfor %}
        </tbody>
    </table>
  </div>
  <!--Main End-->

{% include "footer.html" %}